.davp_rni-heading div{
    height: 100%;
    width: 100%;
    transform: skew(-40deg);
    background-color: #161509;
    position: absolute;
    top: 0;
    left: 17%;
    z-index: -1;
  }

  .davp_rni-heading{
    background-color: #161509;
    height: 80px;
    width: 60%;
    position: relative;
    z-index: -2;
    margin-top: 100px;
  }

  .davp_rni-heading h1{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 0;
    color: #fff;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 400;
    letter-spacing: 2px;
    /* border: 1px solid red; */
  }


/* .davp_rni h1{
    background-color: #fbe122;
    padding: 15px 20px;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    margin: auto;
    margin-top: 80px;
    width: fit-content;
} */

.davp_rni img{
    width: 100%;
    border: 1px solid black;
}

.davp_rni-image2{
    margin-bottom: 100px;
}


@media (max-width:768px){
    .davp_rni-heading{
        width: 75%;
    }

    .davp_rni-heading h1{
        font-size: 22px;
    }
}

@media (max-width:480px){
    .davp_rni-heading h1{
        font-size: 20px;
    }

    .davp_rni-heading{
        margin-top: 20px;
    }
}